<table class="hoverable">
  <thead>
    <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Item Name</th>
        <th data-field="price">Item Price</th>
    </tr>
  </thead>

  <tbody>
    <% feed.questions.forEach(function (item){ %> 
      <tr>
        <td><input type="text" val="<%=  %>"></td>
        <td></td>
        <td></td>
      </tr>
    <% }) %>
  </tbody>
</table>