<%- include(partials.top) %>
<!-- Modal Structure -->
<div id="" class="modal-small login-page login-modal" style="margin:auto">
  <script>
    $(function () {
      app.components.loginPage($('.login-page'));
    });
  </script>
  <input type="hidden" class="hiring-redirection-field" data-value='<%= from %>'/>
  <!--login screen-->
  <div class="card-panel login-panel-background section-social">
    <div class="back-arrow"></div>

    <div class="row">
      <div class="form-login">
        <h5 class="center" style="margin: -10px 0 25px 0; font-weight: 300; color: #aaa"> Let's get started</h5>

        <div class="row margin-bottom-10">
          <div class="col s12">
            <a class="btn waves-effect waves-light btn-facebook" name="action"><i
                      class="icon-facebook-transparent left"></i> CONNECT WITH FACEBOOK</a>
          </div>
        </div>

        <div class="row margin-bottom-10">
          <div class="col s12">
            <a class="waves-effect waves-light btn btn-social bg-google btn-google"><i
                      class="icon-google-plus left"></i> CONNECT WITH GOOGLE</a>
          </div>
        </div>

        <div class="row margin-bottom-10">
          <div class="col s12">
            <a class="waves-effect waves-light bg-twitter btn-twitter btn-social"><i
                      class="icon-twitter left"></i>
              CONNECT WITH TWITTER</a>
          </div>
        </div>
        <div class="row margin-bottom-10 center-align" style="font-size: 10px">
          By signing up, you agree to our <a class="scolor" href="http://frankly.me/tos" target="_blank">terms
            and conditions</a> and <a class="scolor" href="http://frankly.me/privacy" target="_blank">privacy
            policy</a>
        </div>
        <div class="row margin-bottom-10">
          <div class="col s6 left">
            <a class="button-open-email grey-text text-darken-2 user-exist" style="font-size: 12px;">Already
              a user</a>
          </div>
          <div class="col s6 right">
            <a class="button-open-email right grey-text text-darken-2 create-account"
               style="font-size: 12px;">Create a New Account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--login screen-->

  <!--email screen-->
  <div class="card-panel login-panel-background section-email" style="display: none">
    <div class="back-arrow">
      <i class="gray-text text-darken-2 mdi-hardware-keyboard-arrow-left small back-button"></i>
    </div>

    <div class="row">
      <div class="form-login">
        <h6 class="center"> Let's get started</h6>

        <div class="row">
          <div class="input-field col s12">
            <input class="input-email" placeholder="Enter your email" type="text">
          </div>
          <div class="button-right right">
            <button class="btn waves-effect waves-light button-bg button-email-next" name="action">NEXT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--email screen-->

  <!--Done-->
  <div class="card-panel login-panel-background section-name" style="display: none">
    <div class="back-arrow">
      <i class="gray-text text-darken-2 mdi-hardware-keyboard-arrow-left small back-button "></i>
    </div>

    <div class="row">
      <div class="form-login">
        <h6 class="center"> Let's get started</h6>

        <div class="row">
          <div class="input-field col s12">
            <input class="input-name" placeholder="Enter your name" type="text">
          </div>
          <div class="button-right right">
            <button class="btn waves-effect waves-light button-bg button-name-done" name="action">NEXT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Done-->

  <!--LogIn-->
  <div class="card-panel login-panel-background section-password" style="display: none">
    <div class="back-arrow">
      <i class="gray-text text-darken-2 mdi-hardware-keyboard-arrow-left small back-button"></i>
    </div>
    <div class="row">
      <div class="form-login">
        <h6 class="center"> Let's get started</h6>

        <div class="row">
          <div class="input-field col s12">
            <input class="input-password" placeholder="Password" type="password">
          </div>

          <div class="col s6">
            <a name="email" class="grey-text left xs-font-size forget-password-label">Forgot Password.?</a>
          </div>

          <div class="button-right right">
            <button class="btn waves-effect waves-light button-bg button-login" name="action">LOG IN
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--LogIn-->

  <!--Password recover-->
  <div class="card-panel login-panel-background section-password-recover" style="display: none">
    <div class="back-arrow">
      <i class="gray-text text-darken-2 mdi-hardware-keyboard-arrow-left small back-button"></i>
    </div>
    <div class="row">
      <div class="form-login">
        <h6 class="center">Enter Email</h6>

        <div class="row">
          <div class="input-field col s12">
            <input name="email" class="input-forget-password" placeholder="Enter Email" type="text">
          </div>
          <div class="button-right right">
            <button class="btn waves-effect waves-light button-bg button-send-email" name="action">Submit
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--Password recover-->
  <!--.container-->
</div>

<%- include(partials.bottom) %>