<body class="tos">
  <div class="row" style="color:#333;">
    <div class="small-8 columns text-center small-centered b-ws-top">
      <div class="panel">
        <div class="small-10 columns small-centered b-ws-bottom">
          <h2 class="s-ws-top"> </h2>
         <div class="row center">
          <div class="btn-hollow grey lighten-3 showQuestionBtn truncate waves-effect waves-light">
            Contact Us
          </div>
        </div>
      </div>
    </div>
  </div>
</body>