<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>500 | Frankly.me</title>
 
  <link href="/css/app.css" rel="stylesheet">
<link href= "https://fontastic.s3.amazonaws.com/kCG2HLP9avBFEWJu2yZ2zd/icons.css" rel="stylesheet">
<link rel="stylesheet" href="/css/dataurl.css">

  <script src="/js/pace.min.js"></script>
  <script src="/js/modernizr.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  
</head>

<body class="404">


<!-- <div class="contain-to-grid sticky" id="nav">
  
  <nav class="top-bar" data-topbar="">
    <ul class="title-area">
      <li class="name">
        <h1 class="img-ht"><a class="img-ht" href="/"><img class="img-ht" src="/img/logo.png"></a></h1>
      </li>

      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
        
        <ul class="right">
          <li class="active discover-link"><a href="/discover"><i class="icon-compass"></i> Discover</a></li>
          
          <li class="signin-link"><a>Sign In</a></li>
          
        </ul>
      
    </section>
  </nav>
</div> -->

<div id="alert-hook">
  <div data-alert id="alert-box" class="alert-box-wrapper alert-box radius nbrrtop text-center" style="display:none;">
    Loading...
    <a href="#" class="close">&times;</a>
  </div>
</div>


<div class="overlay fx overlaybg" style="background:url('https://download.unsplash.com/reserve/tlC8KhNJR0CA2xdomLfx_DSC_0358-2.jpg') no-repeat; background-size:cover; background-position:50%;">
<!-- <div class="overlay fx overlaybg" style="background:url('https://s3.amazonaws.com/ooomf-com-files/Z3LXxzFMRe65FC3Dmhnp_woody_unsplash_DSC0129.jpg') no-repeat; background-size:cover; background-position:50%;"> 
https://s3.amazonaws.com/ooomf-com-files/483LKAktTE2ZB1UIkNYY_3.jpg-->
</div>
<div class="overlay fx bgbk">
  <div class="row">
    <div class="small-12 columns text-center b-ws-bottom-p">
      <h2 class="wc f-3x m-ws-top-p  f-l">
        <span class="f-4x">Oops,</span> Something went wrong
      </h2>
    </div>
    <div class="small-8 columns text-center small-centered">
    <div class="f-2x f-l wc">
      Our sailors are working to fix the issue.
    </div>
    <div class="f-2x f-l wc s-ws-top">
      You can get on a journey to discover more treasures in the meanwhile.
    </div>
    <div class="small-6 small-centered columns">
    <div class="button alt large m-ws-top fullwidth"><a href="/discover"><i class="icon-compass"></i>Discover</a></div>
    </div>
      
    </div>
    </div>
  </div>
</div>

</body>
</html>