
<!-- Modal Structure -->
<div id="frankly-recording-modal" class="modal recording-modal">
  <div class="modal-content padding-none">
    <iframe src="/recording/recording.html"></iframe>
  </div>
</div>

