<%- include(partials.top) %>

<!-- body starts here -->
<div class="row">
    <div class="small-9 medium-6 large-4 columns small-centered b-ws-top b-ws-top-p" id="resetPasswordDiv"
         data-token="<%= token %>">
        <script>
            $(function () {
                app.components.resetPassword($('#resetPasswordDiv'));
            });
        </script>
        <div class="panel">
            <h5>Reset Password</h5>

            <div class="row">
                <div class="small-12 columns">
                    <label>Create new password
                        <input type="password" class="newPassword">
                    </label>
                    <small class="passwordBlankMessage error" style="display: none">Enter new password</small>
                </div>

               </div>
            <div class="row">
                <div class="small-12 columns ">
                    <label>Retype new password
                        <input type="password" class="confirmNewPassword">
                    </label>
                    <small class="passwordMatchError error" style="display :none;">Password Do Not Match</small>
                    <small class="confirmPasswordBlankMessage error" style="display :none;">Retype new password</small>
                </div>
            </div>
            <div class="row">
                <div class="large-6 medium-6 small-8 columns">
                    <div class="button small fullwidth alt reset-password-btn">Change Password</div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- body ends here -->
<%- include(partials.bottom) %>
