<table class="hoverable quest_table card no-bg">
  <thead>
    <tr>
        <th style="width:25%;" data-field="id">Question</th>
        <th style="width:12%;" data-field="id">Question to</th>
        <th style="width:40%;" data-field="text">Answer</th>
        <th style="width:9%;" class="center-align" data-field="name">Approve</th>
        <th style="width:9%;" class="center-align" data-field="price">Delete</th>
    </tr>
  </thead>
  <%- include(partials.videosTable) %>
</table>