.question-card {
  @extend .card;
  min-height: 220px;
}

.question-card-content {
  @extend .card-content;
  padding: 5px 20px 5px 20px !important;
}

.comment-height{

	overflow-y: auto;
	overflow-x: hidden;
	height: 220px;
	padding-left: 15px

}