<style>
   
    body{background:#FFFDF1!important;}
  </style>


<script type="text/javascript">
$('body').removeClass('grey lighten-3');
  


</script>

<!--static page-->
  <div class="navbar-fixed custom-container-nav">
    
   <nav class="container custom-nav">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img src="http://localhost:3000/img/logo.png" /></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class=" hide-on-med-and-down">
        <li><a href="#"><i class="icon-home left"></i>Home</a></li>
        <li><a href="#" class="active"><i class="icon-discover left"></i>Discover</a></li>
      </ul>
      <div class="search">
  <span class="icon-search"></span>
  <input type="text" placeholder="Search"/>
  
  </div>
<a href="#" class="hide-on-med-and-down right btn-nav-login">Login</a>
<a href="#" class="right btn-nav-login evtToggle">Notifications</a>


      <ul class="side-nav" id="mobile-demo"> 
        <li><a href="#"><i class="icon-home left"></i>Home</a></li>
        <li><a href="#" class="active"><i class="icon-discover left"></i>Discover</a></li>
        <li><a href="#">Login</a></li></ul>
    </div>
  </nav>
        
  </div>
<!--static page end-->



    




  <div class="container fixed-top-margin">
    <div class="row">
    
        <div id="container">
        <div class="col s12 m12"><h5 class="center"><i class="icon-home"></i>Notifications</h5></div>
        <div class="col s12 m2">
          <ul class="custom-tabs-menu">
              <li class="current"><a href="#tab-all">YOU</a></li>
              <li><a href="#tab-post">NEWS</a></li>
          </ul>
          </div>
          <div class="col s12 m10">
          <div class="my-tab">
              <div id="tab-all" class="my-tab-content">
                
                <ul class="notifications-list">
                <li>
                  
                  <div class="notification-video">
                    
                    <div class=" videoContainer circle-container">
                      <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
                      </div>
                  </div>

                  <div class="notification-text">
                  <p><a href="#">@username</a> followed you.</p>
                  <span>2mins ago</span>
                  </div>


                </li>

                <li>
                  
                  <div class="notification-video">
                    
                    <div class=" videoContainer circle-container">
                      <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
                      </div>
                  </div>

                  <div class="notification-text">
                  <p><a href="#">@username</a> and <strong>5 other </strong> followed you</p>
<span>2mins ago</span>
                  
                  
                  </div>


                </li>


                <li>
                  
                  <div class="notification-video">
                    
                    <div class=" videoContainer circle-container">
                      <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
                      </div>
                  </div>

                  <div class="notification-text">
                  <p><a href="#">@username</a> and <strong>5 other</strong> followed you</p>
                  <span>2mins ago</span>
                  
                  </div>


                </li>

                <li class="active">
                  
                  <div class="notification-video">
                    
                    <div class=" videoContainer circle-container">
                      <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
                      </div>
                  </div>

                  <div class="notification-text">
                  <p><a href="#">@username</a> <strong>followed you</strong>. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                  </p>
                  <span>2mins ago</span>
                  </div>


                </li>


                <li>
                  
                  <div class="notification-video">
                    
                    <div class=" videoContainer circle-container">
                      <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
                      </div>
                  </div>

                  <div class="notification-text">
                  <p><a href="#">@username</a> followed you.
                  </p>
                  
                 
                  <i class="comment-video">
                    
                    <div class=" videoContainer circle-container">
                      <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
                      </div>

                  </i>
                  <i class="comment-video">
                    
                    <div class=" videoContainer circle-container">
                      <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
                      </div>

                  </i>
                  <span>2mins ago</span>
                  </div>


                </li>


                </ul>

              </div>
              <div id="tab-post" class="my-tab-content">
                  <p>2</p>
              
              </div>
              
          </div>
          </div>
        </div>

    </div>
  </div>



    <div class="notification-wrapper">
    <div class="arrow-up"></div>
    <div class="notification-footer"><a href="#">See All</a></div>
      <ul class="notifications-list">
                <li>
                  
                  <div class="notification-video">
                    
                    <div class=" videoContainer circle-container">
                      <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
                      </div>
                  </div>

                  <div class="notification-text">
                  <p><a href="#">@username</a> followed you.</p>
                  <span>2mins ago</span>
                  </div>


                </li>

                <li>
                  
                  <div class="notification-video">
                    
                    <div class=" videoContainer circle-container">
                      <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
                      </div>
                  </div>

                  <div class="notification-text">
                  <p><a href="#">@username</a> and <strong>5 other </strong> followed you</p>
<span>2mins ago</span>
                  
                  
                  </div>


                </li>


                <li>
                  
                  <div class="notification-video">
                    
                    <div class=" videoContainer circle-container">
                      <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
                      </div>
                  </div>

                  <div class="notification-text">
                  <p><a href="#">@username</a> and <strong>5 other</strong> followed you</p>
                  <span>2mins ago</span>
                  
                  </div>


                </li>

                <li>
                  
                  <div class="notification-video">
                    
                    <div class=" videoContainer circle-container">
                      <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
                      </div>
                  </div>

                  <div class="notification-text">
                  <p><a href="#">@username</a> <strong>followed you</strong>. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                  </p>
                  <span>2mins ago</span>
                  </div>


                </li>


             


                </ul>

    </div>



<div class="container">
<div class="col m12 m12"><p>hello</p></div>
</div>


  <script type="text/javascript">
    $(document).ready(function() {
      $(".custom-tabs-menu a").click(function(event) {
          event.preventDefault();
          $(this).parent().addClass("current");
          $(this).parent().siblings().removeClass("current");
          var tab = $(this).attr("href");
          $(".my-tab-content").not(tab).css("display", "none");
          $(tab).fadeIn();
      });
  });


    $(".evtToggle").click(function()
{
  $(".notification-wrapper").toggle();
});
  </script>




