<%- include(partials.top) %>
<!-- body starts here -->


<div class="container" id="panel">
  <%- include(partials.panel) %>
</div>

<!-- body ends here -->
<div id="bottom">
  <%- include(partials.bottom) %>
</div>