
<body class="tos">

  <div class="row" style="color:#333;">
    <div class="">
    <div class="panel">
    <div class="">
      <h2 class="">Terms of Service</h2>
      <div class="">Date of Last Revision: April 20, 2015</div>

      <h3>Acknowledgement and Acceptance of Terms</h3>

      <p>This document is our terms of service that governs our relationship
      with you; as such, it serves as a written contractual agreement between
      you and Pochi International Mobile Pte Ltd. (“Pochi”), regarding your use
      of the frankly.me mobile application and any related website, Internet
      service, or other product or service (collectively, the “Services”). Your
      access to and use of the Services are conditioned on your acceptance of
      and compliance with these Terms. Violation of these terms will result in
      deactivation of your account.</p>

      <p>This document will be updated from time to time keeping your safety
      and security as the primary concern. The updated version of Terms of
      Service constitutes the entire agreements between you and the Company and
      supersedes any and all previous agreements, written or oral, between you
      and the Company, including previous versions of the Terms of Service.</p>

      <p>By using the Services, you agree to the Terms of Service. If you do
      not agree, please do not use the Service. We may modify, suspend,
      discontinue or restrict the use of the Services, any portion thereof or
      any content at any time with or without notice to you.</p>

      <h3>Age Requirements</h3>

      <p>You confirm that you are of legal age to form a binding contract with
      the Company, or an emancipated minor, or have parental or legal guardian
      consent and are fully able and competent to enter into, and comply with,
      these Terms of Use. In any case, you confirm that you are over the age of
      13, and acknowledge that the Service is not intended for children under
      13 years of age. You may not use the Service and may not accept the Terms
      of Use if you by law are barred from using the Service or accepting the
      Terms of Use.</p>

      <h3>Service Assets</h3>

      <p>All right, title, and interest in and to the Services (excluding User
      Submissions) are and will remain the exclusive property of Pochi and its
      licensors. The Services are protected by copyright, trademark, and other
      laws of both the United States and foreign countries. Pochi reserves all
      rights not expressly granted in these Terms. You acknowledge and agree
      that any feedback, comments, or suggestions you may provide regarding
      Pochi, or the Services is entirely voluntary and we will be free to use
      such feedback, comments or suggestions as we see fit and without any
      obligation to you.</p>

      <h3>Copyright Infringement</h3>

      <p>If you believe your copyright-protected work was posted on Pochi
      without authorization, you may submit a copyright infringement
      notification in accordance with the Digital Millenium Copyright Act.
      These requests should only be submitted by the copyright owner or an
      agent authorized to act on the owner’s behalf. You can submit any such
      requests to copyright@frankly.me.</p>

      <h3>Use of Services</h3>

      <p>Your use of the Services is subject to all applicable laws and
      regulations. You may not do any of the following while accessing or using
      the Services:</p>

      <ol type="i">
        <li>
          Access, tamper with, or use non-public areas of the Services, Pochi’s
          computer systems, or the technical delivery systems of Pochi’s
          providers;
        </li>

        <li>
          Probe, scan, or test the vulnerability of any system or network or
          breach or circumvent any security or authentication measures;(iii)
          access or search or attempt to access or search the Services by any
          means (automated or otherwise) other than through our currently
          available, published interfaces that are provided by Pochi (and only
          pursuant to those terms and conditions), unless you have been
          specifically allowed to do so in a separate agreement with Pochi
          (NOTE: crawling the Services is permissible if done in accordance
          with the provisions of the robots.txt file, however, scraping the
          Services without the prior consent of Pochi is expressly prohibited);
        </li>

        <li>
          Forge any TCP/IP packet header or any part of the header information
          in any email or posting, or in any way use the Services to send
          altered, deceptive or false source-identifying information;
        </li>

        <li>
          Interfere with, or disrupt, (or attempt to do so), the access of any
          user, host or network, including, without limitation, sending a
          virus, overloading, flooding, spamming, mail-bombing the Services, or
          by scripting the creation of Content in such a manner as to interfere
          with or create an undue burden on the Services.
        </li>

        <li>
          use the Services or any Content for any purpose that is unlawful or
          prohibited by the Terms of Service.
        </li>
      </ol>

      <p>Any unauthorized use of the Services or any Content may violate
      copyright, trademark and other applicable laws and could result in
      criminal or civil penalties.</p>

      <h3>Account Information</h3>

      <p>Certain features or services offered on or through the Services may
      require you to open an account (including your name, a username and
      password). You represent, warrant and agree that all account information,
      including your name, age and contact information, is true and correct and
      you agree that you shall make any and all updates as needed in order to
      maintain the accuracy of your account information. You are solely
      responsible for safeguarding the password or credentials that you use to
      access the Services and for any activities or actions under your account.
      We encourage you to use "strong" passwords (passwords that use a
      combination of upper and lower case letters, numbers and symbols) with
      your account. You agree that you will safeguard your password, that you
      will not share it with others, and that you will not permit others to
      access your account. Pochi cannot and will not be liable for any loss or
      damage arising from your failure to comply with the above requirements.
      Although Pochi will not be liable for your losses caused by any
      unauthorized use of your account, you may be liable for the losses of
      Pochi or others due to such unauthorized use. Pochi cannot and will not
      be liable for any loss or damage arising from any unauthorized use of
      your account by any third party.</p>

      <h3>Privacy</h3>

      <p>Please refer to Pochi’s privacy policy, available at
      http://frankly.me/privacy (the “Privacy Policy”) for information on how
      Frankly collects, uses and discloses personal information from Users of
      the Site. By using the Site you agree to our use, collection and
      disclosure of personal information in accordance with the Privacy
      Policy.</p>

      <h3>No Reliance on Third-Party Content</h3>

      <p>Opinions, advice, statements, or other information made available by
      means of the Services by third-parties, are those of their respective
      authors, and should not necessarily be relied upon. Such authors are
      solely responsible for such content. Pochi does not:</p>

      <ol type="i">
        <li>
          Guarantee the accuracy, completeness, or usefulness of any
          third-party information accessible on or through the Services; or
        </li>

        <li>
          adopt, endorse, or accept responsibility for the accuracy or
          reliability of any opinion, advice or statement made by a third-party
          by means of the Services. Under no circumstances will POCHI be
          responsible for any loss or damage resulting from your reliance on
          information or other content posted through the Services or
          transmitted to or by any third party.
        </li>
      </ol>

      <h3>Assumption Of Risk; Release</h3>

      <p>You knowingly and freely assume all risk when using the services. you,
      on behalf of yourself, your personal representatives, and your heirs,
      hereby voluntarily agree to release, waive, discharge, hold harmless,
      defend, and indemnify pochi and its stockholders, officers, directors,
      employees, agents, affiliates, consultants, representatives,
      sublicensees, successors, and assigns (collectively, the “pochi parties”)
      from any and all claims, actions, or losses for bodily injury, property
      damage, wrongful death, emotional distress, loss of privacy, or other
      damages or harm, whether to you or to third parties, that may result from
      your use of the services.</p>

      <h3>Warranty Disclaimer</h3>

      <p>the site, the content and the services available on the site are
      provided to you on an "as is", "as available" basis without
      representations, warranties, conditions or guarantees from pochi of any
      kind, either express or implied. pochi expressly disclaims all
      representations, warranties, conditions or guarantees, express or
      implied, including without limitation implied warranties of
      merchantability, fitness for a particular purpose, title and
      non-infringement. pochi does not represent or warrant that content or the
      services are accurate, complete, reliable, current or error-free, and
      expressly disclaims any representation or warranty as to the accuracy or
      proprietary character of the site, the content, the services or any
      portion thereof. you are solely responsible for any resulting damage to
      your computer system or loss of data arising from your use of the site,
      the content or the services. while pochi attempts to make your access to
      and use of the site safe, pochi does not represent or warrant that the
      site, the content or any services are free of viruses or other harmful
      components.</p>

      <h3>Consent To Receive Electronic Communications</h3>

      <p>Without limitation, by registering for the Services and/or by
      providing your name, email, postal or residential address, and/or phone
      number through the Services, you hereby expressly consent to receive
      electronic and other communications from other uses of the Services, from
      Pochi, and from our third-party marketing partners over the short term
      and periodically, including email and short-message service (“SMS” or
      “text message”) communications, including without limitation
      communications regarding the Services, new product offers, promotions,
      and other matters.</p>

      <h3>Third-Party Websites</h3>

      <p>At times, the Services may be linked with the websites and mobile
      applications of third parties (“together, Third-Party Services”), some of
      whom may have established relationships with Pochi and some of whom may
      not. Pochi does not have control over the content and performance of
      Third-Party Services. Pochi has not reviewed, and cannot review or
      control, all of the material, including computer software or other goods
      or services, made available on or through Third-Party Services.
      Accordingly, Pochi does not represent, warrant, or endorse any
      third-party website, or the accuracy, currency, content, fitness,
      lawfulness, or quality of the information, material, goods, or services
      available through Third-Party Services. Pochi disclaims, and You agree to
      assume, all responsibility and liability for any damages or other harm,
      whether to you or to third parties, resulting from your use of
      Third-Party</p>

      <h3>Indemnity</h3>

      <p>You agree to defend, indemnify, and hold Pochi, its officers,
      directors, employees and agents harmless from and against any demands,
      loss, liability, losses, claims or expenses (including attorney's fee)
      made against us by any third party due to or arising out of your use of
      the Services.</p>

      <h3>User Content</h3>

      <p>You shall be solely responsible for the any content (“Content”) you 
      submit via the Services, such as uploaded videos, photographs or text, 
      and the consequences of submitting your Content on the Services. 
      You retain your ownership rights in the Content you submit to the Services.</p>

      <p>By making available any Content through the Services, you hereby grant 
       to Pochi a worldwide, irrevocable, perpetual, non-exclusive, royalty-free, 
       sublicenseable and transferable license to use, reproduce, distribute, prepare 
       derivative works of, display, publish, adapt, make available online or electronically 
       transmit, and perform the Content in connection with the Service and Pochi's 
       (and its successors' and affiliates') business, including without limitation for 
       promoting and redistributing part or all of the Service (and derivative works thereof) 
       in any media formats and through any media channels, printed materials, as part 
       of" Out-of-Home" advertising campaigns, incorporated into film, video, television series,
       advertisement, or other multimedia productions for distribution in any medium, merchandise
       or promotional items for sale or distribution. To be clear, you retain all rights in and to 
       your Content; however, under the law, Pochi requires this license from you in order to enable
       you to upload Content and otherwise use the Services.
      </p>

      <p>We may modify or adapt your Content in order to transmit, display or distribute 
      it over computer networks and in various media and/or make changes to your Content
      as are necessary to conform and adapt that Content to any requirements or limitations
      of any networks, devices, services or media.</p>

      <p>You are responsible for your use of the Services, for any Content you provide, and
        for any consequences thereof, including the use of your Content by other users and our
        third party partners. You understand that your Content may be syndicated, broadcast, 
        distributed, or published by our partners and if you do not have the right to submit 
        Content for such use, it may subject you to liability. Pochi will not be responsible 
        or liable for any use of your Content by Pochi in accordance with these Terms. 
        You represent and warrant that you have all the rights, power and authority necessary 
        to grant the rights granted herein to any Content that you submit.</p>

      <p>You may not submit Content that contains sexually explicit material or pornography,
       hateful, defamatory, or discriminatory material, incites hatred against any individual
       or group, depict unlawful acts or extreme violence, depicts animal cruelty or extreme 
       violence towards animals, seeks to intimidate, embarrass, bully, control, manipulate, 
       put down, falsely discredit, or humiliate any individual, or violates any law. 
       Pochi reserves the right to remove or disable any content that, in its sole discretion, 
       Pochi believes violates this provision.</p>

      <h3>Use of other people’s personal information?</h3>

      <p>You are not allowed to use other users’ personal information for any
      means including but not limited to means such as to make money, to spam,
      or to bully, threaten, upset, harass or embarrass anyone. We may, without
      notice and in our sole discretion, deactivate your account and/or block
      your access to the site where possible if we believe that you are
      misusing the personal information of another, including without
      limitation by creating a fake user profile or account.</p>

      <p>In case you come across a profile that you can identify as a fake
      profile, please write to us at letstalk@frankly.me. We will
      deactivate/block/delete the mentioned profile depending on the severity
      of the issue.</p>

      <h3>Notices</h3>

      <p>We may revise these Terms from time to time, the most current version
      will always be at http://frankly.me/terms. If the revision, in our sole
      discretion, is material we will notify you via email to the email
      associated with your account or through the Services. If you do not wish
      to be bound by any such revisions to the Terms, you must end these Terms
      with us as set forth in the section “Ending terms”. By continuing to
      access or use the Services after those revisions become effective, you
      agree to be bound by the revised Terms.</p>

      <p>All notices required or permitted to be given under this agreement
      must be in writing. pochi shall give any notice by email sent to the most
      recent email address, if any, provided by the intended recipient to
      pochi. you agree that any notice received from pochi electronically
      satisfies any legal requirement that such notice be in writing. you bear
      the sole responsibility of ensuring that your email address on file with
      pochi is accurate and current, and notice to you shall be deemed
      effective upon the sending by pochi of an email to that address. you
      shall give any notice to pochi by means of email to
      [notices@frankly.me].</p>

      <h3>Ending Terms / Terminating your account</h3>

      <p>The Terms will continue to apply until terminated by either you or
      Pochi as follows:</p>

      <p>You may end your legal agreement with Pochi at any time for any reason
      by deactivating your accounts and discontinuing your use of the
      Services.</p>

      <p>We may suspend or terminate your accounts or cease providing you with
      all or part of the Services at any time for any reason, including, but
      not limited to, if we reasonably believe:</p>(i) you have violated these
      Terms,<br>
      (ii) you create risk or possible legal exposure for us; or<br>
      (iii) our provision of the Services to you is no longer commercially
      viable. We will make reasonable efforts to notify you by the email
      address associated with your account or through the Services the next
      time you attempt to access your account.<br>
      Nothing in this section shall affect Pochi's rights to change, limit or
      stop the provision of the Services without prior notice.

      <h3>Governing Law, Choice of Forum, and Agreement to Arbitrate</h3>

      <p>All legal issues arising from or related to your use of the Services
      shall be construed in accordance with and determined by the laws of the
      Republic of Singapore.</p>

      <p>Any dispute arising out of or in connection with this Agreement or
      your use of the Services, including any question regarding the existence,
      validity or termination of this Agreement, shall be exclusively referred
      to and finally resolved by arbitration in Singapore in accordance with
      the Arbitration Rules of the Singapore International Arbitration Centre
      (“SIAC Rules”) for the time being in force, which rules are deemed to be
      incorporated by reference in this clause. The Tribunal shall consist of
      three arbitrator(s), and the language of the arbitration shall be
      English. The Tribunal and the parties may by agreement hold hearings in
      any location convenient to the tribunal and the parties, including by
      teleconference and videoconference. You hereby accept and submit to the
      jurisdiction of such court in any such proceeding or action, and
      irrevocably waive, to the fullest extent permitted by law, any objection
      which you may now or hereafter have to the laying of the venue of any
      such action or proceeding brought in such a tribunal and forum.</p>

      <p>If any provision of this Agreement is found to be invalid by any court
      having competent jurisdiction, the invalidity of such provision shall not
      affect the validity of the remaining provisions of this Agreement, which
      shall remain in full force and effect.</p>

      <p>Although the Services may be accessible worldwide, we make no
      representation that materials on the Services are appropriate or
      available for use in locations outside the Singapore. Accessing the
      Services from territories where its use is illegal is prohibited.</p>

      <h3>Restrictions Against Joinder of Claims</h3>

      <p>You and Pochi agree that any arbitration shall be limited to each
      Claim individually. YOU AND POCHI HEREBY AGREE THAT EACH MAY ONLY BRING
      CLAIMS AGAINST THE OTHER IN YOUR OR POCHI’S INDIVIDUAL CAPACITY AND NOT
      AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE
      PROCEEDING. In the event that this specific provision is found to be
      unenforceable in a court of competent jurisdiction, the Claim will still
      be finally and exclusively resolved by binding arbitration. In
      addition:<br>
      (1) no arbitration shall be joined with any other arbitration, and<br>
      (2) there is no right for any Claim to be arbitrated on a class-action
      basis or to employ class action procedures, and<br>
      (3) there is no right of authority for any dispute to be brought in a
      purported representative capacity on behalf either of the general public
      or any other individuals.</p>

      <h3>Entire Agreement</h3>

      <p>The Terms of Service represent the entire agreement between you and
      Pochi Mobile International Pte Ltd. with respect to the subject matter
      addressed herein and supersedes all prior to contemporaneous agreements
      or understandings, written or oral. The Terms of Service shall be binding
      upon and inure to the benefit of the parties hereto and their respective
      successors and lawful assigns.</p>

      <h3>Waiver</h3>

      <p>The failure of Pochi to enforce any right or provision of these Terms
      will not be deemed a waiver of such right or provision. In the event that
      any provision of these Terms is held to be invalid or unenforceable, then
      that provision will be limited or eliminated to the minimum extent
      necessary, and the remaining provisions of these Terms will remain in
      full force and effect.</p>
    </div>
    </div>
    </div>
  </div>
</body>
