

<h3 class="f-2x text-center scolor f-l m-ws-top-p">Catch us in the news</h3>
  <div class="row">
    <div class="small-8 small-centered columns b-ws-top m-ws-bottom">
      <div class="panel">
        <ul class="press-orbit" data-orbit data-options="animation:slide;
              pause_on_hover:true;
              animation_speed:500;
              navigation_arrows:false;
              circular: false;
                                timer: false;
                                variable_height: true;
              bullets:false;
              timer_speed:0;
              slide_number: false;">
          <li data-orbit-slide="headline-1">
            <div class="bq rc">
              <blockquote>
                <h5>Delhi-Based Video Q&A Platform Frankly Raises $600,000 From Matrix Partners</h5>
                  <p>Remember VYou? The video Q&A platform saw more than a million answers posted and raised $3 million in funding before shutting its consumer site down in March 2013 due to lack of user engagement. Now a new startup called Frankly has launched with a similar premise. Currently in beta with a website and apps for Android and iOS, Frankly has secured seed funding of $600,000 from Matrix Partners.</p>
              </blockquote>
                                    
            </div>
          </li>
          <li data-orbit-slide="headline-2">
            <div class="bq rc">
              <blockquote>
                <h5>Delhi-Based Video Q&A Platform Frankly Raises $600,000 From Matrix Partners</h5>
                  <p>Remember VYou? The video Q&A platform saw more than a million answers posted and raised $3 million in funding before shutting its consumer site down in March 2013 due to lack of user engagement. Now a new startup called Frankly has launched with a similar premise. Currently in beta with a website and apps for Android and iOS, Frankly has secured seed funding of $600,000 from Matrix Partners.</p>
              </blockquote>
                                    
            </div>
          </li>
          <li data-orbit-slide="headline-2">
            <div class="bq rc">
              <blockquote>
                <h5>Delhi-Based Video Q&A Platform Frankly Raises $600,000 From Matrix Partners</h5>
                  <p>Remember VYou? The video Q&A platform saw more than a million answers posted and raised $3 million in funding before shutting its consumer site down in March 2013 due to lack of user engagement. Now a new startup called Frankly has launched with a similar premise. Currently in beta with a website and apps for Android and iOS, Frankly has secured seed funding of $600,000 from Matrix Partners.</p>
              </blockquote>
                                    
            </div>
          </li>                         
        </ul>
      </div>
    </div>
  </div>
  <div class="wbg">
    <div class="row">
      <div class="small-12 columns m-ws-top s-ws-bottom">
        <div class="row hv-reset">
          <a data-orbit-link="headline-1">
            <div class="small-2 columns">
              <img src="https://tctechcrunch2011.files.wordpress.com/2014/04/tc-logo.jpg" class="gs hv img-h">
            </div>
          </a>
          <a data-orbit-link="headline-2">
            <div class="small-2 columns">
              <img src="http://inc42.com/wp-content/uploads/2014/01/42mag-logo.png" class="gs hv img-h">
            </div>
          </a>
          <a data-orbit-link="headline-3">
            <div class="small-2 columns">
              <img src="http://unreasonableatsea.com/wp-content/uploads/2012/03/The-Next-Web-Large.png" class="gs hv img-h">
            </div>
          </a>
          <a data-orbit-link="headline-4">
            <div class="small-2 columns">
              <img src="http://modelalliance.org/wp-content/gallery/press-2011/new_york_times_logo.jpg" class="gs hv img-h">
            </div>
          </a>
          <a data-orbit-link="headline-5">
            <div class="small-2 columns">
              <img src="https://www.thoughtfarmer.com/files/2015/02/forbes.com-logo-vector.png" class="gs hv img-h">
            </div>
          </a>
          <a data-orbit-link="headline-6">
           <div class="small-2 columns">
             <img src="https://pbs.twimg.com/profile_images/3361682967/68cfe41368b321c2d1a6357c6c37c38d_400x400.png" class="gs hv img-h">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
 