<%- include(partials.top)%>
<section>
  <div class="carousel">
    <!-- BEGIN CONTAINER -->
    <ul class="slides video-tabs"> <!-- BEGIN CAROUSEL -->
      <li class="slideItem tab" data-tab="tab-1"> 
        <div class="row valign-wrapper">
          <div class=" videoContainer circle-container link">
            <div class="videoHolder">
              <video id="profile-video" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/57f6f2246bfe435782e9923d8e82926f/videos/2cfbd2d618b611e583b102be69940ae2_low.mp4" style="width: 100%; display: none;" class="introVideo" data-uuid="intro-discoveranswer042d02399355442982261b5de5a23e3785349" preload="none" data-dash="false"></video>
              <img class="userImg" data-src="" src="https://s3.amazonaws.com/franklymestorage/57f6f2246bfe435782e9923d8e82926f/videos/2cfbd2d618b611e583b102be69940ae2_thumb.jpeg" style="width: 100%">
            </div>
          </div>
        </div>
      </li>
      <li class="slideItem tab" data-tab="tab-2"> 
        <div class="row valign-wrapper" >
          <div class=" videoContainer circle-container link">
            <div class="videoHolder">
              <video id="profile-video" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/91abf970b671465c8c95589da0f06084/videos/c307fd66d2e511e4923b06a9bb7e83fc_low.mp4" style="width: 100%; display: none;" class="qustionCardIntroVideo" data-uuid="intro-question-91abf970b671465c8c95589da0f06084" preload="none" poster="/img/loader.gif"></video>
              <img class="userImg" data-src="" src="https://s3.amazonaws.com/franklymestorage/91abf970b671465c8c95589da0f06084/videos/c307fd66d2e511e4923b06a9bb7e83fc_thumb.jpeg" style="width: 100%">
            </div>
          </div>
        </div>
      </li>
      <li class="slideItem tab" data-tab="tab-3">
        <div class="row valign-wrapper">
          <div class=" videoContainer circle-container link">
            <div class="videoHolder">
              <video id="profile-video" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/93542a4981af4f94b48d5229a3616cdb/videos/6a46e6481db211e597e702e5bee5da2b_low.mp4" style="width: 100%; display: none;" class="introVideo" data-uuid="intro-discoveranswerab1e5c0d8b7141cf998fab260f88c13033787" preload="none" data-dash="false"></video>
              <img class="userImg" data-src="" src="https://s3.amazonaws.com/franklymestorage/93542a4981af4f94b48d5229a3616cdb/videos/6a46e6481db211e597e702e5bee5da2b_thumb.jpeg" style="width: 100%">
            </div>
          </div>
        </div>
      </li>
      <li class="slideItem tab" data-tab="tab-4">
        <div class="row valign-wrapper">

          <div class=" videoContainer circle-container link" style="padding: 0px; margin-left:1em;">
            <div class="videoHolder">
              <video id="profile-video" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/697edb7accc14261b532b2ce8a11a1b4/videos/bfaa97c6d6ac11e49be206a9bb7e83fc_low.mp4" style="width: 100%; display: none;" class="introVideo" data-uuid="intro-discoveranswerbbcbcc4fd14d4299afb387f4226111f421307" preload="none" data-dash="false"></video>
              <img class="userImg" data-src="" src="https://s3.amazonaws.com/franklymestorage/697edb7accc14261b532b2ce8a11a1b4/videos/bfaa97c6d6ac11e49be206a9bb7e83fc_thumb.jpeg" style="width: 100%">
            </div>
          </div>
        </div>
      </li>
      <li class="slideItem tab" data-tab="tab-5"> 
        <div class="row valign-wrapper">
          <div class=" videoContainer circle-container link">
            <div class="videoHolder">
              <video id="profile-video" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/8adc345e3be2443dbc96f05905a0a136/videos/97b90232396911e59f8602e5bee5da2b_low.mp4" style="width: 100%; display: none;" class="introVideo" data-uuid="intro-discoveranswer28885fdc55ea4284bee44404d4932af388550" preload="none" data-dash="false"></video>
              <img class="userImg" data-src="" src="https://s3.amazonaws.com/franklymestorage/8adc345e3be2443dbc96f05905a0a136/videos/97b90232396911e59f8602e5bee5da2b_thumb.jpeg" style="width: 100%">
            </div>
          </div>
        </div>
      </li>
      <li class="slideItem tab" data-tab="tab-6"> 
        <div class="row valign-wrapper">
          <div class=" videoContainer circle-container link">
            <div class="videoHolder">
              <video id="profile-video" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/98b196fda0434a07b60e0e5cacd39117/videos/d83996d8f3c711e49a3902be69940ae2_low.mp4" style="width: 100%; display: none;" class="qustionCardIntroVideo" data-uuid="intro-question-98b196fda0434a07b60e0e5cacd39117" preload="none" poster="/img/loader.gif"></video>
              <img class="userImg" data-src="" src="https://s3.amazonaws.com/franklymestorage/98b196fda0434a07b60e0e5cacd39117/videos/d83996d8f3c711e49a3902be69940ae2_thumb.jpeg" style="width: 100%">
            </div>
          </div>
        </div>
      </li>
      <li class="slideItem tab" data-tab="tab-7"> 
        <div class="row valign-wrapper">
          <div class=" videoContainer circle-container link">
            <div class="videoHolder">
              <video id="profile-video" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/57f6f2246bfe435782e9923d8e82926f/videos/2cfbd2d618b611e583b102be69940ae2_low.mp4" style="width: 100%; display: none;" class="introVideo" data-uuid="intro-discoveranswer042d02399355442982261b5de5a23e3785349" preload="none" data-dash="false"></video>
              <img class="userImg" data-src="" src="https://s3.amazonaws.com/franklymestorage/57f6f2246bfe435782e9923d8e82926f/videos/2cfbd2d618b611e583b102be69940ae2_thumb.jpeg" style="width: 100%">
            </div>
          </div>
        </div>
      </li>
      <li class="slideItem tab" data-tab="tab-8">
        <div class="row valign-wrapper">
          <div class=" videoContainer circle-container link">
            <div class="videoHolder">
              <video id="profile-video" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/8adc345e3be2443dbc96f05905a0a136/videos/97b90232396911e59f8602e5bee5da2b_low.mp4" style="width: 100%; display: none;" class="introVideo" data-uuid="intro-discoveranswer28885fdc55ea4284bee44404d4932af388550" preload="none" data-dash="false"></video>
              <img class="userImg" data-src="" src="https://s3.amazonaws.com/franklymestorage/8adc345e3be2443dbc96f05905a0a136/videos/97b90232396911e59f8602e5bee5da2b_thumb.jpeg" style="width: 100%">
            </div>
          </div>
        </div>
      </li>
      <li class="slideItem tab" data-tab="tab-9">
        <div class="row valign-wrapper">
          <div class=" videoContainer circle-container link">
            <div class="videoHolder">
              <video id="profile-video" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/57f6f2246bfe435782e9923d8e82926f/videos/2cfbd2d618b611e583b102be69940ae2_low.mp4" style="width: 100%; display: none;" class="introVideo" data-uuid="intro-discoveranswer042d02399355442982261b5de5a23e3785349" preload="none" data-dash="false"></video>
              <img class="userImg" data-src="" src="https://s3.amazonaws.com/franklymestorage/57f6f2246bfe435782e9923d8e82926f/videos/2cfbd2d618b611e583b102be69940ae2_thumb.jpeg" style="width: 100%">
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<section>
  <div class="container center-align">
    <div class="row">
      <div class="col s6 offset-s3">
        <h4>Lorem Ispum</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
      </div>
    </div>
    <a class="waves-effect waves-light btn red">Ask Question</a>
    <br><br>
  </div>
</section>
<section>
  <div class="row">
    <div class="col s4 tab-content current" id="tab-1" >
      <h1>tab1 called</h1>
    </div>
    <div class="col s4  tab-content" id="tab-2">
      <h1>tab2 called</h1>
    </div>
    <div class="col s4 tab-content" id="tab-3">
      <h1>tab3 called</h1>
    </div>
    <div class="col s4 tab-content" id="tab-4">
      <h1>tab4 called</h1>
    </div>
    <div class="col s4 tab-content" id="tab-5">
      <h1>tab5 called</h1>
    </div>
    <div class="col s4 tab-content" id="tab-6">
      <h1>tab6 called</h1>
    </div>
    <div class="col s4 tab-content" id="tab-7">
      <h1>tab7 called</h1>
    </div>
    <div class="col s4 tab-content" id="tab-8">
      <h1>tab8 called</h1>
    </div>
    <div class="col s4 tab-content" id="tab-9">
      <h1>tab9 called</h1>
    </div>
  </div>
</section>