<div id="createCampaignModal" class="modal fade create-campaign-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title job-modal-title" style="text-align: center">Create Campaign</h3>

            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-4">
                        Company Name *:  <!-- hard coded for hiring, change it in case of audition -->
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control company-name-input"  placeholder="Name" aria-describedby="basic-addon2" style="width: 100%">
                        <small class="company-name-error-label has-error" style="display:none; color:red;">Required</small>
                    </div>
                </div>
                </br>
                <div class="row">
                    <div class="col-md-4">
                        Description :
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control company-desc-input"  placeholder="Description" aria-describedby="basic-addon2" style="width: 100%">
                    </div>
                </div>

                <!-- <div class="row">
                  <div class="col-md-4">

                  </div>
                  <div class="col-md-8">
                    <input type="text" class="form-control company-name-input"  placeholder="Name" aria-describedby="basic-addon2" style="width: 100%">
                  </div>
                </div> -->
                <div class="modal-footer">
                    <button class="btn btn-danger button-create-campaign">Create Campaign</button>
                </div>
            </div>
        </div>
    </div>
</div>