<!DOCTYPE html>
<html>
  <head>
    <title>Product Manager</title>
    <!-- Compiled and minified CSS -->
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <link rel="alternate" href="android-app://me.frankly/http/frankly.me" />
    <!-- Facebook Conversion Code for Product manager -->
    <script>(function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6026778619149', {'value':'0.01','currency':'INR'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026778619149&amp;cd[value]=0.01&amp;cd[currency]=INR&amp;noscript=1" /></noscript>
  </head>
  <body>

    <!-- Compiled and minified JavaScript -->
   
    
    <!-- Google Code for Questions Asked Conversion Page
    In your html page, add the snippet and call
    goog_report_conversion when someone clicks on the
    chosen link or button. -->
    <script type="text/javascript">
      /* <![CDATA[ */
      goog_snippet_vars = function() {
        var w = window;
        w.google_conversion_id = 948713539;
        w.google_conversion_label = "XuHaCKHQ0lsQw_CwxAM";
        w.google_remarketing_only = false;
      }
      // DO NOT CHANGE THE CODE BELOW.
      goog_report_conversion = function(url) {
        goog_snippet_vars();
        window.google_conversion_format = "3";
        window.google_is_call = true;
        var opt = new Object();
        opt.onload_callback = function() {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      }
      var conv_handler = window['google_trackConversion'];
      if (typeof(conv_handler) == 'function') {
        conv_handler(opt);
      }
    }
    /* ]]> */
    </script>
    <script type="text/javascript"
      src="//www.googleadservices.com/pagead/conversion_async.js">
    </script>

    <script type="text/javascript">
      goog_report_conversion();
    </script>
  </body>
  <script type="text/javascript">
 <!--
    function redirect() {
       window.location = " https://docs.google.com/forms/d/1YhGULlPP0WxhIy-52rc_9Sy6ULqUg2o5KC9X101jXKo/viewform";
    }
 //-->
    setTimeout(redirect(), 4000);
  </script>
</html>