<style>
   html { 
  background: url(http://www.collegeaffairs.in/wp-content/uploads/Hansraj-College-New-Delhi.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}
  </style>


<script type="text/javascript">
$('body').removeClass('grey lighten-3');
  $(window).scroll(function() {
      if($(window).scrollTop() > 200){

        $('.profile-wrapper').addClass('profile-wrapper-fixed');
        $('.profile-video').addClass('profile-video-fixed');
        $('.btn-profile').addClass('btn-profile-fixed');
        $('.profile-user').addClass('profile-user-fixed ');
        
        $('.profile-links').hide();
        app.behaviors.video($video);
        $video.trigger('croptofit')

       }else{
           $('.profile-wrapper').removeClass('profile-wrapper-fixed');
           $('.profile-video').removeClass('profile-video-fixed');
           $('.btn-profile').removeClass('btn-profile-fixed');
           $('.profile-user').removeClass('profile-user-fixed ');
           $('.profile-links').show();
           app.behaviors.video($video);
           $video.trigger('croptofit')
      }

  });


</script>

<!--static page-->
  <div class="navbar-fixed custom-container-nav">
    
   <nav class="container custom-nav">
    <div class="velfie-wrapper">
      <a href="#" class="left"><img src="http://localhost:3000/img/logo.png" /></a>
      <span>Lady shreeram College</span>
      <a href="#" class="right">Login</a>
    </div>
  </nav>
        
  </div>
<!--static page end-->

  <div class="container fixed-top-margin">
  <div class="col s12 m12">
  <div class="velfie-width-full">


    <div class="velfie-body">
<i class="material-icons dp48 velfie-video">Arrow</i>
      <div class="velfie-student-profile">
        <div class=" videoContainer circle-container">
                <video class="introVideo video-wh" data-crop-to-fit="" data-square-video="" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg"></video>
    </div>
      </div>


<div class="velfie-footer">
      <ul class="velfie-links-list"> 

        <li>
          <a href="#">home</a>
        </li>
        <li>
          <a href="#">clubs <i class="material-icons dp48"></i></a>
          <ul>
            
            <li>
              <a href="#">Club 01</a>
            </li>

            <li>
              <a href="#">Club 01</a>
            </li>

            <li>
              <a href="#">Club 01</a>
            </li>

            <li>
              <a href="#">Club 01</a>
            </li>

          </ul>
        </li>

        <li>
          <a href="#">gussip</a>
        </li>

        <li>
          <a href="#">team</a>
        </li>

        <li>
          <a href="#">contact</a>

          
        </li>

      </ul>
</div>

    </div>


  </div>
  </div>
  </div>




<div class="container">
  <div class="col s12 m12 velfie-bg-page">
  <div class="col s12 m12">
  <h3>body</h3>
  </div>
  
  </div>
</div>










