
  <style>
   
    body{background: #FFFEF0;}
    p{color:#C1C0C0;font-size: 13px;}

  </style>



<!--avdhesh code-->
<script >
   $(document).ready(function(){
            $('ul.tabs').tabs();
          });
</script>


<!--static page-->
  <div class="navbar-fixed custom-container-nav">
    
   <nav class="container custom-nav">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><img src="http://localhost:3000/img/logo.png" /></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class=" hide-on-med-and-down">
        <li><a href="#"><i class="icon-home left"></i>Home</a></li>
        <li><a href="#" class="active"><i class="icon-discover left"></i>Discover</a></li>
      </ul>
      <div class="search">
  <span class="icon-search"></span>
  <input type="text" placeholder="Search"/>
  
  </div>
<a href="#" class="hide-on-med-and-down right btn-nav-login">Login</a>


      <ul class="side-nav" id="mobile-demo"> 
        <li><a href="#"><i class="icon-home left"></i>Home</a></li>
        <li><a href="#" class="active"><i class="icon-discover left"></i>Discover</a></li>
        <li><a href="#">Login</a></li></ul>
    </div>
  </nav>
        
  </div>
<!--static page end-->

<div class="container">
<div class="row header-padding-top">
  <div class="col s12 m12">
    <ul class="list-categories">
      <li><a href="#"><i class="icon-books-literature"></i>Books &amp; Literature</a></li>
      <li><a href="#"><i class="icon-business-startups"></i> StartUp and Business</a></li>
      <li><a href="#"><i class="icon-comedy"></i>Comedy and Humour</a></li>
      <li><a href="#"><i class="icon-Entertainment"></i>Entertainment</a></li>
      <li><a href="#"><i class="icon-experts"></i>Experts</a></li>
      <li><a href="#"><i class="icon-fashion-lifestyle"></i>Fashion And Lifestyle</a></li>
      <li><a href="#"><i class="icon-feeding-fitness"></i>Feeding Fitness</a></li>
      <li><a href="#"><i class="icon-food-health"></i>Food and Health</a></li>
      <li><a href="#"><i class="icon-hiring"></i>Hiring</a></li>
      <li><a href="#"><i class="icon-music"></i>Music</a></li>
      <li><a href="#"><i class="icon-politics"></i>Politics</a></li>
      <li><a href="#"><i class="icon-sports"></i>Sports</a></li>
      <li><a href="#"><i class="icon-technology"></i>Technology</a></li>
      <li><a href="#"><i class="icon-discover"></i>Discover</a></li>
      <li><a href="#"><i class="icon-television"></i>Television</a></li>
    </ul>

  </div>
</div>



<div class="row">
  <div class="col s12">
    <ul class="tabs custom-tabs">
      <li class="custom-tabs tab"><a href="#test1" class="active">FETURED</a></li>
      <li class="custom-tabs tab"><a href="#test2">TRENDING</a></li>
      <li class="custom-tabs tab"><a href="#test3">POPULAR</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">

  <!--copy paste-->
  <div class="row">

  <div class="col s12 m4">
    <div style="display: block; height: 100%;" class="answer-paused grey darken-4">
     <div class="card-header">
        <div class="white-text social-icon-group">
           <div class="share-icons">
              <i class="mdi-editor-mode-comment comment-popup"></i>
              <!-- <i class="mdi-social-share"></i> -->
              <i data-activates="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1" class="mdi-navigation-more-vert dropdown-button"></i><ul style="left: 180px !important;" class="dropdown-content" id="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1">
                              <!-- <li><a href="#" class="embedBtn">Embed</a></li> -->
                <li><a data-type="post" data-id="a141bdae49884f8c9b49b6ca6d4b37e4" class="report-user" href="#">Report</a></li>
                <li>
                  <a download="" href="https://s3.amazonaws.com/franklymestorage/070770ac38d477fb975b59a62b6fddf/videos/957a261cf32411e4ae7706d51abdbca1_promo.mp4">Download</a>
                </li>
              </ul>
              
           </div>
        </div>
     </div>
     <div style="padding: 10px;" class="card-content question-text overlay-text">
        Hey guys, newslaundry released an excellent article on the false reportage of msm on the valmiki conversion story in up. there is serious under-reporting by the msm in the area of foreign-funded christian evangelism in the sub-continenent. can we see a report on the same on nl, given its popularity?
     </div>
     <div class="card-credits">
        <div class="row">
           <div class="col s12 center-align play-video-icon">
              <p><i class="mdi-av-play-arrow"></i></p>
           </div>
        </div>
        <div class="row center-align">
           <div class="col s4 like-group">
            
              <div data-state="unliked" data-target="/like/a141bdae49884f8c9b49b6ca6d4b37e4" class="likeBtnTrg">
                <i class="mdi-action-thumb-up"></i>
                <div>
                  <span style="float:left" class="likeBtn">Likes</span> <span class="num_likes" style="float:left;margin-left:3px;">167</span>
                </div>
              </div>
            
           </div>
           <div class="col s4 like-group">
              <i class="icon-facebook"></i>
              <span>0 fb shares</span>
           </div>
           <div class="col s4 like-group">
              <i class="icon-twitter"></i>
              <span>0 tweets</span>
           </div>
           <div class="col s12">
              <hr>
           </div>
           <div class="col s6 user-name-display">
              Newslaundry
           </div>
           <div class="col s6">
            
            <div data-username="Newslaundry" data-target="/follow/a070770ac38d477fb975b59a62b6fddf" data-state="not-following" class="followBtn">
              <div class="right btn-follow">Follow</div></div>
            
           </div>
        </div>
     </div>
  </div>
  </div>


  <div class="col s12 m4">
    <div style="display: block; height: 100%;" class="answer-paused grey darken-4">
     <div class="card-header">
        <div class="white-text social-icon-group">
           <div class="share-icons">
              <i class="mdi-editor-mode-comment comment-popup"></i>
              <!-- <i class="mdi-social-share"></i> -->
              <i data-activates="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1" class="mdi-navigation-more-vert dropdown-button"></i><ul style="left: 180px !important;" class="dropdown-content" id="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1">
                              <!-- <li><a href="#" class="embedBtn">Embed</a></li> -->
                <li><a data-type="post" data-id="a141bdae49884f8c9b49b6ca6d4b37e4" class="report-user" href="#">Report</a></li>
                <li>
                  <a download="" href="https://s3.amazonaws.com/franklymestorage/070770ac38d477fb975b59a62b6fddf/videos/957a261cf32411e4ae7706d51abdbca1_promo.mp4">Download</a>
                </li>
              </ul>
              
           </div>
        </div>
     </div>
     <div style="padding: 10px;" class="card-content question-text overlay-text">
        Hey guys, newslaundry released an excellent article on the false reportage of msm on the valmiki conversion story in up. there is serious under-reporting by the msm in the area of foreign-funded christian evangelism in the sub-continenent. can we see a report on the same on nl, given its popularity?
     </div>
     <div class="card-credits">
        <div class="row">
           <div class="col s12 center-align play-video-icon">
              <p><i class="mdi-av-play-arrow"></i></p>
           </div>
        </div>
        <div class="row center-align">
           <div class="col s4 like-group">
            
              <div data-state="unliked" data-target="/like/a141bdae49884f8c9b49b6ca6d4b37e4" class="likeBtnTrg">
                <i class="mdi-action-thumb-up"></i>
                <div>
                  <span style="float:left" class="likeBtn">Likes</span> <span class="num_likes" style="float:left;margin-left:3px;">167</span>
                </div>
              </div>
            
           </div>
           <div class="col s4 like-group">
              <i class="icon-facebook"></i>
              <span>0 fb shares</span>
           </div>
           <div class="col s4 like-group">
              <i class="icon-twitter"></i>
              <span>0 tweets</span>
           </div>
           <div class="col s12">
              <hr>
           </div>
           <div class="col s6 user-name-display">
              Newslaundry
           </div>
           <div class="col s6">
            
            <div data-username="Newslaundry" data-target="/follow/a070770ac38d477fb975b59a62b6fddf" data-state="not-following" class="followBtn">
              <div class="right btn-follow">Follow</div></div>
            
           </div>
        </div>
     </div>
  </div>
  </div>


  <div class="col s12 m4">
    <div style="display: block; height: 100%;" class="answer-paused grey darken-4">
     <div class="card-header">
        <div class="white-text social-icon-group">
           <div class="share-icons">
              <i class="mdi-editor-mode-comment comment-popup"></i>
              <!-- <i class="mdi-social-share"></i> -->
              <i data-activates="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1" class="mdi-navigation-more-vert dropdown-button"></i><ul style="left: 180px !important;" class="dropdown-content" id="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1">
                              <!-- <li><a href="#" class="embedBtn">Embed</a></li> -->
                <li><a data-type="post" data-id="a141bdae49884f8c9b49b6ca6d4b37e4" class="report-user" href="#">Report</a></li>
                <li>
                  <a download="" href="https://s3.amazonaws.com/franklymestorage/070770ac38d477fb975b59a62b6fddf/videos/957a261cf32411e4ae7706d51abdbca1_promo.mp4">Download</a>
                </li>
              </ul>
              
           </div>
        </div>
     </div>
     <div style="padding: 10px;" class="card-content question-text overlay-text">
        Hey guys, newslaundry released an excellent article on the false reportage of msm on the valmiki conversion story in up. there is serious under-reporting by the msm in the area of foreign-funded christian evangelism in the sub-continenent. can we see a report on the same on nl, given its popularity?
     </div>
     <div class="card-credits">
        <div class="row">
           <div class="col s12 center-align play-video-icon">
              <p><i class="mdi-av-play-arrow"></i></p>
           </div>
        </div>
        <div class="row center-align">
           <div class="col s4 like-group">
            
              <div data-state="unliked" data-target="/like/a141bdae49884f8c9b49b6ca6d4b37e4" class="likeBtnTrg">
                <i class="mdi-action-thumb-up"></i>
                <div>
                  <span style="float:left" class="likeBtn">Likes</span> <span class="num_likes" style="float:left;margin-left:3px;">167</span>
                </div>
              </div>
            
           </div>
           <div class="col s4 like-group">
              <i class="icon-facebook"></i>
              <span>0 fb shares</span>
           </div>
           <div class="col s4 like-group">
              <i class="icon-twitter"></i>
              <span>0 tweets</span>
           </div>
           <div class="col s12">
              <hr>
           </div>
           <div class="col s6 user-name-display">
              Newslaundry
           </div>
           <div class="col s6">
            
            <div data-username="Newslaundry" data-target="/follow/a070770ac38d477fb975b59a62b6fddf" data-state="not-following" class="followBtn">
              <div class="right btn-follow">Follow</div></div>
            
           </div>
        </div>
     </div>
    </div>
    </div>


</div>



  <!--copy paste end-->
    
    <div class="row">
  <div class="col s12 m12">
    <div class="card custom-card-bgcolor">
      <div class="card-content black-text custom-card-content">
        <div class="card-header-custom">
          <span>Featured Frankers</span>
          <span class="right"><i class="mdi-navigation-more-vert"></i></span>
        </div>
        <div class="col s12 m4">
          <div class="card-videos video-w">
            <div class=" videoContainer circle-container">
              <video src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" data-square-video="" data-crop-to-fit="" class="introVideo video-wh" poster="/img/loader.gif"></video>
              <img src="http://www.nov-activ.com/wp-content/uploads/2015/02/Users-User-Male-icon.jpg">
            </div>
          </div>
          <div class="video-content">
            <span>@username</span>
            <p>Lorem ipsum dolor sit amet,</p>
            <a href="#">follow</a>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-videos video-w">
            <div class=" videoContainer circle-container">
              <video poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" data-square-video="" data-crop-to-fit="" class="introVideo video-wh"></video>
            </div>
          </div>
          <div class="video-content">
            <span>@username</span>
            <p>Lorem ipsum dolor sit amet,</p>
            <a href="#">follow</a>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card-videos video-w">
            <div class=" videoContainer circle-container">
              <video poster="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_thumb.jpeg" src="https://s3.amazonaws.com/franklymestorage/a070770ac38d477fb975b59a62b6fddf/videos/59db9eaaf3c011e4b2c902be69940ae2_low.mp4" data-square-video="" data-crop-to-fit="" class="introVideo video-wh"></video>
            </div>
          </div>
          <div class="video-content">
            <span>@username</span>
            <p>Lorem ipsum dolor sit amet,</p>
            <a href="#">follow</a>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</div>











  </div>
  <div id="test2" class="col s12">Test 2</div>
  <div id="test3" class="col s12">Test 3</div>
</div>

</div>
</div>

<!--avdhesh code-->


<!--shuffle start-->
<div class="container">
<div class="row">
<ul class="div-columns">
<li>
  <div class="col s12 m12">
    <div style="display: block; height: 100%;" class="answer-paused grey darken-4">
     <div class="card-header">
        <div class="white-text social-icon-group">
           <div class="share-icons">
              <i class="mdi-editor-mode-comment comment-popup"></i>
              <!-- <i class="mdi-social-share"></i> -->
              <i data-activates="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1" class="mdi-navigation-more-vert dropdown-button"></i><ul style="left: 180px !important;" class="dropdown-content" id="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1">
                              <!-- <li><a href="#" class="embedBtn">Embed</a></li> -->
                <li><a data-type="post" data-id="a141bdae49884f8c9b49b6ca6d4b37e4" class="report-user" href="#">Report</a></li>
                <li>
                  <a download="" href="https://s3.amazonaws.com/franklymestorage/070770ac38d477fb975b59a62b6fddf/videos/957a261cf32411e4ae7706d51abdbca1_promo.mp4">Download</a>
                </li>
              </ul>
              
           </div>
        </div>
     </div>
     <div style="padding: 10px;" class="card-content question-text overlay-text">
        Hey guys, newslaundry released an excellent article on the false reportage of msm on the valmiki conversion story in up. there is serious under-reporting by the msm in the area of foreign-funded christian evangelism in the sub-continenent. can we see a report on the same on nl, given its popularity?
     </div>
     <div class="card-credits">
        <div class="row">
           <div class="col s12 center-align play-video-icon">
              <p><i class="mdi-av-play-arrow"></i></p>
           </div>
        </div>
        <div class="row center-align">
           <div class="col s4 like-group">
            
              <div data-state="unliked" data-target="/like/a141bdae49884f8c9b49b6ca6d4b37e4" class="likeBtnTrg">
                <i class="mdi-action-thumb-up"></i>
                <div>
                  <span style="float:left" class="likeBtn">Likes</span> <span class="num_likes" style="float:left;margin-left:3px;">167</span>
                </div>
              </div>
            
           </div>
           <div class="col s4 like-group">
              <i class="icon-facebook"></i>
              <span>0 fb shares</span>
           </div>
           <div class="col s4 like-group">
              <i class="icon-twitter"></i>
              <span>0 tweets</span>
           </div>
           <div class="col s12">
              <hr>
           </div>
           <div class="col s6 user-name-display">
              Newslaundry
           </div>
           <div class="col s6">
            
            <div data-username="Newslaundry" data-target="/follow/a070770ac38d477fb975b59a62b6fddf" data-state="not-following" class="followBtn">
              <div class="right btn-follow">Follow</div></div>
            
           </div>
        </div>
     </div>
  </div>
  </div>

</li>

<li>
  <div class="col s12 m12">
    <div style="display: block; height: 100%;" class="answer-paused grey darken-4">
     <div class="card-header">
        <div class="white-text social-icon-group">
           <div class="share-icons">
              <i class="mdi-editor-mode-comment comment-popup"></i>
              <!-- <i class="mdi-social-share"></i> -->
              <i data-activates="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1" class="mdi-navigation-more-vert dropdown-button"></i><ul style="left: 180px !important;" class="dropdown-content" id="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1">
                              <!-- <li><a href="#" class="embedBtn">Embed</a></li> -->
                <li><a data-type="post" data-id="a141bdae49884f8c9b49b6ca6d4b37e4" class="report-user" href="#">Report</a></li>
                <li>
                  <a download="" href="https://s3.amazonaws.com/franklymestorage/070770ac38d477fb975b59a62b6fddf/videos/957a261cf32411e4ae7706d51abdbca1_promo.mp4">Download</a>
                </li>
              </ul>
              
           </div>
        </div>
     </div>
     <div style="padding: 10px;" class="card-content question-text overlay-text">
        Hey guys, newslaundry released an excellent article
     </div>
     <div class="card-credits">
        <div class="row">
           <div class="col s12 center-align play-video-icon">
              <p><i class="mdi-av-play-arrow"></i></p>
           </div>
        </div>
        <div class="row center-align">
           <div class="col s4 like-group">
            
              <div data-state="unliked" data-target="/like/a141bdae49884f8c9b49b6ca6d4b37e4" class="likeBtnTrg">
                <i class="mdi-action-thumb-up"></i>
                <div>
                  <span style="float:left" class="likeBtn">Likes</span> <span class="num_likes" style="float:left;margin-left:3px;">167</span>
                </div>
              </div>
            
           </div>
           <div class="col s4 like-group">
              <i class="icon-facebook"></i>
              <span>0 fb shares</span>
           </div>
           <div class="col s4 like-group">
              <i class="icon-twitter"></i>
              <span>0 tweets</span>
           </div>
           <div class="col s12">
              <hr>
           </div>
           <div class="col s6 user-name-display">
              Newslaundry
           </div>
           <div class="col s6">
            
            <div data-username="Newslaundry" data-target="/follow/a070770ac38d477fb975b59a62b6fddf" data-state="not-following" class="followBtn">
              <div class="right btn-follow">Follow</div></div>
            
           </div>
        </div>
     </div>
  </div>
  </div>

</li>

<li>
  <div class="col s12 m12">
    <div style="display: block; height: 100%;" class="answer-paused grey darken-4">
     <div class="card-header">
        <div class="white-text social-icon-group">
           <div class="share-icons">
              <i class="mdi-editor-mode-comment comment-popup"></i>
              <!-- <i class="mdi-social-share"></i> -->
              <i data-activates="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1" class="mdi-navigation-more-vert dropdown-button"></i><ul style="left: 180px !important;" class="dropdown-content" id="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1">
                              <!-- <li><a href="#" class="embedBtn">Embed</a></li> -->
                <li><a data-type="post" data-id="a141bdae49884f8c9b49b6ca6d4b37e4" class="report-user" href="#">Report</a></li>
                <li>
                  <a download="" href="https://s3.amazonaws.com/franklymestorage/070770ac38d477fb975b59a62b6fddf/videos/957a261cf32411e4ae7706d51abdbca1_promo.mp4">Download</a>
                </li>
              </ul>
              
           </div>
        </div>
     </div>
     <div style="padding: 10px;" class="card-content question-text overlay-text">
        Hey guys, newslaundry released an excellent article on the false
     </div>
     <div class="card-credits">
        <div class="row">
           <div class="col s12 center-align play-video-icon">
              <p><i class="mdi-av-play-arrow"></i></p>
           </div>
        </div>
        <div class="row center-align">
           <div class="col s4 like-group">
            
              <div data-state="unliked" data-target="/like/a141bdae49884f8c9b49b6ca6d4b37e4" class="likeBtnTrg">
                <i class="mdi-action-thumb-up"></i>
                <div>
                  <span style="float:left" class="likeBtn">Likes</span> <span class="num_likes" style="float:left;margin-left:3px;">167</span>
                </div>
              </div>
            
           </div>
           <div class="col s4 like-group">
              <i class="icon-facebook"></i>
              <span>0 fb shares</span>
           </div>
           <div class="col s4 like-group">
              <i class="icon-twitter"></i>
              <span>0 tweets</span>
           </div>
           <div class="col s12">
              <hr>
           </div>
           <div class="col s6 user-name-display">
              Newslaundry
           </div>
           <div class="col s6">
            
            <div data-username="Newslaundry" data-target="/follow/a070770ac38d477fb975b59a62b6fddf" data-state="not-following" class="followBtn">
              <div class="right btn-follow">Follow</div></div>
            
           </div>
        </div>
     </div>
  </div>
  </div>

</li>

<li>
  <div class="col s12 m12">
    <div style="display: block; height: 100%;" class="answer-paused grey darken-4">
     <div class="card-header">
        <div class="white-text social-icon-group">
           <div class="share-icons">
              <i class="mdi-editor-mode-comment comment-popup"></i>
              <!-- <i class="mdi-social-share"></i> -->
              <i data-activates="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1" class="mdi-navigation-more-vert dropdown-button"></i><ul style="left: 180px !important;" class="dropdown-content" id="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1">
                              <!-- <li><a href="#" class="embedBtn">Embed</a></li> -->
                <li><a data-type="post" data-id="a141bdae49884f8c9b49b6ca6d4b37e4" class="report-user" href="#">Report</a></li>
                <li>
                  <a download="" href="https://s3.amazonaws.com/franklymestorage/070770ac38d477fb975b59a62b6fddf/videos/957a261cf32411e4ae7706d51abdbca1_promo.mp4">Download</a>
                </li>
              </ul>
              
           </div>
        </div>
     </div>
     <div style="padding: 10px;" class="card-content question-text overlay-text">
        Hey guys, newslaundry released an excellent article on the false reportage of msm on the valmiki conversion story in up.
     </div>
     <div class="card-credits">
        <div class="row">
           <div class="col s12 center-align play-video-icon">
              <p><i class="mdi-av-play-arrow"></i></p>
           </div>
        </div>
        <div class="row center-align">
           <div class="col s4 like-group">
            
              <div data-state="unliked" data-target="/like/a141bdae49884f8c9b49b6ca6d4b37e4" class="likeBtnTrg">
                <i class="mdi-action-thumb-up"></i>
                <div>
                  <span style="float:left" class="likeBtn">Likes</span> <span class="num_likes" style="float:left;margin-left:3px;">167</span>
                </div>
              </div>
            
           </div>
           <div class="col s4 like-group">
              <i class="icon-facebook"></i>
              <span>0 fb shares</span>
           </div>
           <div class="col s4 like-group">
              <i class="icon-twitter"></i>
              <span>0 tweets</span>
           </div>
           <div class="col s12">
              <hr>
           </div>
           <div class="col s6 user-name-display">
              Newslaundry
           </div>
           <div class="col s6">
            
            <div data-username="Newslaundry" data-target="/follow/a070770ac38d477fb975b59a62b6fddf" data-state="not-following" class="followBtn">
              <div class="right btn-follow">Follow</div></div>
            
           </div>
        </div>
     </div>
  </div>
  </div>

</li>

<li>
  <div class="col s12 m12">
    <div style="display: block; height: 100%;" class="answer-paused grey darken-4">
     <div class="card-header">
        <div class="white-text social-icon-group">
           <div class="share-icons">
              <i class="mdi-editor-mode-comment comment-popup"></i>
              <!-- <i class="mdi-social-share"></i> -->
              <i data-activates="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1" class="mdi-navigation-more-vert dropdown-button"></i><ul style="left: 180px !important;" class="dropdown-content" id="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1">
                              <!-- <li><a href="#" class="embedBtn">Embed</a></li> -->
                <li><a data-type="post" data-id="a141bdae49884f8c9b49b6ca6d4b37e4" class="report-user" href="#">Report</a></li>
                <li>
                  <a download="" href="https://s3.amazonaws.com/franklymestorage/070770ac38d477fb975b59a62b6fddf/videos/957a261cf32411e4ae7706d51abdbca1_promo.mp4">Download</a>
                </li>
              </ul>
              
           </div>
        </div>
     </div>
     <div style="padding: 10px;" class="card-content question-text overlay-text">
        Hey guys, newslaundry released an excellent article on the false reportage of msm on the valmiki conversion story in up. there is
     </div>
     <div class="card-credits">
        <div class="row">
           <div class="col s12 center-align play-video-icon">
              <p><i class="mdi-av-play-arrow"></i></p>
           </div>
        </div>
        <div class="row center-align">
           <div class="col s4 like-group">
            
              <div data-state="unliked" data-target="/like/a141bdae49884f8c9b49b6ca6d4b37e4" class="likeBtnTrg">
                <i class="mdi-action-thumb-up"></i>
                <div>
                  <span style="float:left" class="likeBtn">Likes</span> <span class="num_likes" style="float:left;margin-left:3px;">167</span>
                </div>
              </div>
            
           </div>
           <div class="col s4 like-group">
              <i class="icon-facebook"></i>
              <span>0 fb shares</span>
           </div>
           <div class="col s4 like-group">
              <i class="icon-twitter"></i>
              <span>0 tweets</span>
           </div>
           <div class="col s12">
              <hr>
           </div>
           <div class="col s6 user-name-display">
              Newslaundry
           </div>
           <div class="col s6">
            
            <div data-username="Newslaundry" data-target="/follow/a070770ac38d477fb975b59a62b6fddf" data-state="not-following" class="followBtn">
              <div class="right btn-follow">Follow</div></div>
            
           </div>
        </div>
     </div>
  </div>
  </div>

</li>

<li>
  <div class="col s12 m12">
    <div style="display: block; height: 100%;" class="answer-paused grey darken-4">
     <div class="card-header">
        <div class="white-text social-icon-group">
           <div class="share-icons">
              <i class="mdi-editor-mode-comment comment-popup"></i>
              <!-- <i class="mdi-social-share"></i> -->
              <i data-activates="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1" class="mdi-navigation-more-vert dropdown-button"></i><ul style="left: 180px !important;" class="dropdown-content" id="userWidgetbatch-newslaundryanswera141bdae49884f8c9b49b6ca6d4b37e419534dropdown1">
                              <!-- <li><a href="#" class="embedBtn">Embed</a></li> -->
                <li><a data-type="post" data-id="a141bdae49884f8c9b49b6ca6d4b37e4" class="report-user" href="#">Report</a></li>
                <li>
                  <a download="" href="https://s3.amazonaws.com/franklymestorage/070770ac38d477fb975b59a62b6fddf/videos/957a261cf32411e4ae7706d51abdbca1_promo.mp4">Download</a>
                </li>
              </ul>
              
           </div>
        </div>
     </div>
     <div style="padding: 10px;" class="card-content question-text overlay-text">
        Hey guys, newslaundry released an excellent article on the false reportage of msm on the valmiki conversion story in up. there is serious under-reporting by the msm in the area of foreign-funded christian evangelism in the sub-continenent. can we see a report on the same on nl, given its popularity?
     </div>
     <div class="card-credits">
        <div class="row">
           <div class="col s12 center-align play-video-icon">
              <p><i class="mdi-av-play-arrow"></i></p>
           </div>
        </div>
        <div class="row center-align">
           <div class="col s4 like-group">
            
              <div data-state="unliked" data-target="/like/a141bdae49884f8c9b49b6ca6d4b37e4" class="likeBtnTrg">
                <i class="mdi-action-thumb-up"></i>
                <div>
                  <span style="float:left" class="likeBtn">Likes</span> <span class="num_likes" style="float:left;margin-left:3px;">167</span>
                </div>
              </div>
            
           </div>
           <div class="col s4 like-group">
              <i class="icon-facebook"></i>
              <span>0 fb shares</span>
           </div>
           <div class="col s4 like-group">
              <i class="icon-twitter"></i>
              <span>0 tweets</span>
           </div>
           <div class="col s12">
              <hr>
           </div>
           <div class="col s6 user-name-display">
              Newslaundry
           </div>
           <div class="col s6">
            
            <div data-username="Newslaundry" data-target="/follow/a070770ac38d477fb975b59a62b6fddf" data-state="not-following" class="followBtn">
              <div class="right btn-follow">Follow</div></div>
            
           </div>
        </div>
     </div>
  </div>
  </div>

</li>

</ul>
</div>
</div>



<!--shuffle end-->



