.margin-left-10-percent { margin-left: 10%;}
.bottom-margin-none {margin-bottom: 0 !important;}
.margin-none {margin: 0px !important;}
.margin-5-percent {margin: 5%;}
.margin-bottom-10{margin-bottom: 10px!important;}
.no-mr-bt {
    margin-bottom: 0 !important;
}
.mr-rt-10 { margin-right: 10px!important;} 
