.padding-10-px {
  padding: 10px;
}

.padding-20-px {
  padding: 20px;
}

.padding-none {
  padding: 0px !important;
}

.padding-1-em {
  padding: 1em !important;
}

.padding-5-percent {
  padding: 5% !important;
}

.padding-2-percent {
  padding: 2% !important;
}