<div class="row b-ws-top">
  <div class="columns small-3 text-center">
    <%- include(partials.leftPane) %>
  </div>
  <div class="columns small-9">    
    <%- include(partials.rightPane) %>
  </div>
</div>