<!DOCTYPE html>
<html>
  <head>

    <title></title>

    <%- include(partials.fbMeta) %>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    <!-- Compiled and minified CSS -->
    <link rel="icon" type="image/png" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/widgets.css">
    <link rel="alternate" href="android-app://me.frankly/http/frankly.me" />
    <!-- <link rel="stylesheet" href="/css/materialize.min.css"> -->

    <!--<link id="fontasticCss" href="https://fontastic.s3.amazonaws.com/kCG2HLP9avBFEWJu2yZ2zd/icons.css" rel="stylesheet">-->

    <!--Frankly custom icons css-->
    <link rel="stylesheet" href="/css/frankly-icons.css">
    <!-- <link rel="stylesheet" href="/css/materialize.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/dash.all.js"></script>

    <% var parentUrl = parentUrl ? parentUrl : null; %>

    <!-- Google Analytics -->
    <% if (parentUrl) { %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53424885-5', 'auto');
        ga('send', 'pageview', '<%=parentUrl%>');
      </script>
    <% } else {%>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-53424885-5', 'auto');
        ga('send', 'pageview');
      </script>
   <% } %>



  </head>
  <body data-page="<%=pagename%>">
