<section id="one" class="bg-green section-bg">
  <div class="container">
    <div class="row">
      <div class="col sm12 m7 hide-on-small-only"> <img src="home/images/img-01.png" class="responsive-img animated bounceIn"> </div>
      <div class="col s12 m5">
        <div class="heading-section-1">
          <h1 class="text-heading-one option animated wobble">Say <i>or</i> Do</h1>
          <span class="tag-line option animated zoomInUp">anything</span> <span class="top-line"></span>
          <span class="tag-line-bg animated bounceInRight"><i>and</i></span>
          <span class="tag-line-big animated bounceInDown">watch</span>
          <span class="tag-line-content animated bounceInLeft">others too</span>
          <a href="#" class="btn-homepage">Let's get started</a>
          <form class="home-form hide">
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <a href="#">SignUp</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
