<section id="five" class="bg-navy-blue">
  <div class="container">
    <div class="row">
      <div class="col sm12 m7 hide-on-small-only"> <img src="home/images/img-05.png" class="responsive-img"> </div>
      <div class="col s12 m5">
        <div class="heading-section-1">
          <h1 class="text-express">they express</h1>
          <span class="text-in">in</span> <span class="top-line-vel"></span> <span class="text-velfies">velfies</span> <span class="text-do">do</span> <span class="text-you">you <i>?</i></span> <a href="#" class="btn-web btn-bg-navy-blue">Explore Songs</a> </div>
      </div>
    </div>
  </div>
</section>
