<section id="four" class="bg-pink">
  <div class="container">
    <div class="row">
      <div class="col s12 m5">
        <div class="heading-section-1">
          <h1 class="text-heading-start">Start your</h1>
          <span class="text-velfie">velfie</span> <span class="text-blog">blog</span> <span class="top-line"></span> <span class="tag-line-bg"><i>get</i></span> <span class="text-famous">famous</span> <a href="#" class="btn-web btn-bg-blue">Explore Dubs</a> </div>
      </div>
      <div class="col sm12 m7 hide-on-small-only"> <img src="home/images/img-04.png" class="responsive-img"> </div>
    </div>
  </div>
</section>
