
<!--   <div class="fx bgbk ">
    <div class="row">
      <div class="small-12 columns text-center" style="height:12.5em;">
        <h2 class="wc f-4x s-ws-top"><i class="icon-compass s2"></i> Discover</h2>
      </div>
    </div>
  </div>
 -->
 
<header class="header-wrapper">
  <div class="overlay fx overlaybg" style="background:url('img/wall.jpg') no-repeat; background-size:cover; background-position:50%;">
  </div>
  <div class="overlay fx bgbk ">
    <div class="row">
      <div class="small-12 columns text-center">
        <h2 class="wc f-4x s-ws-top s-ws-bottom "><i class="icon-compass s2"></i> Discover</h2>
      </div>
    </div>
  </div>

  
</header>
  
