
<body class="tos">
  <div class="contain-to-grid sticky" id="nav">
  </div>

  <div id="alert-hook">
    <div class="alert-box-wrapper alert-box radius nbrrtop text-center"
    data-alert="" id="alert-box" style="display:none;">
      Loading... <a class="close" href="#">&times;</a>
    </div>
  </div>


  
 <!--  <div class="fx bgbk ">
  
    <div class="row">
      <div class="small-12 columns text-center" style="height:10.5em;">
        <h2 class="wc f-2x m-ws-top-p">You have our attention</h2>
      </div>
    </div>
  </div> -->
  <header class="header-wrapper">
  <div class="overlay fx overlaybg" style="background:url('img/wall.jpg') no-repeat; background-size:cover; background-position:50%;">
  </div>
  <div class="fx bgbk overlay">
    <!-- <div class="row"> -->
      <div class="small-12 columns text-center">
        <h2 class="wc f-2x bs-ws-top m-ws-bottom-p m-ws-right f-l">
          You have our attention
        </h2>
        <!-- <h3 class="wc f-2x b-ws-top"><span class="f-l">It is time for you to test your limits.</span> By pushing them.</h3> --> 
      </div>
    <!-- </div> -->
  </div>
</header>




<div class="wbg">
  <div class="row">
    <div class="small-12 columns text-center">
      <dl class="sub-nav large center nm">
        <dd>
          <a href="/jobs">Jobs</a>
        </dd>
        <dd>
          <a href="/about">About</a>
        </dd>                   
        <dd class="active">
          <a href="/contact">Contact</a>
        </dd>
      </dl>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-8 columns text-center small-centered b-ws-top">
    <div class="panel">
      <div class="small-10 columns small-centered b-ws-bottom">
        <h2 class="s-ws-top">Contact us</h2>
        <div class="f-3x f-l rc s-ws-top b-ws-bottom"><a href="mailto:hello@frankly.me">hello@frankly.me</a></div>
        
      </div>
    </div>
  </div>
</div>
