
<body class="hiring">


<div class="contain-to-grid sticky" id="nav">
  
</div>

<div id="alert-hook">
  <div data-alert id="alert-box" class="alert-box-wrapper alert-box radius nbrrtop text-center" style="display:none;">
    Loading...
    <a href="#" class="close">&times;</a>
  </div>
</div>


<header class="header-wrapper">
  <div class="overlay fx overlaybg" style="background:url('img/wall.jpg') no-repeat; background-size:cover; background-position:50%;">
  </div>
  <div class="fx bgbk overlay">
    <div class="row">
      <div class="small-12 columns text-center">
        <h2 class="wc f-2x bs-ws-top  f-l">
          Let's get to know each other
        </h2>
        <!-- <h3 class="wc f-2x b-ws-top"><span class="f-l">It is time for you to test your limits.</span> By pushing them.</h3> -->
        
      </div>
    </div>
  </div>
</header>
<div class="wbg">
  <div class="row">
    <div class="small-12 columns text-center">
      <dl class="sub-nav large center nm">
        <dd class="active">
          <a href="/jobs">Jobs</a>
        </dd>
        <dd>
          <a href="/about">About</a>
        </dd>                   
        <dd>
          <a href="/contact">Contact</a>
        </dd>
      </dl>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-8 small-centered columns b-ws-top text-center">
  <!-- <div class="f-l f-3x scolor">Frankly is ...</div>
      <div class="f-l f-1-5x rc">the simplest way to get video replies from your celebrities</div> -->
    <p class="f-1-5x  f-l b-ws-top">
      We are a bunch of frank misfits who don't care about societal division, and we are looking for our kinship. So, if you are loaded with any of the below mentioned credentials, drop us a mail and we can go shooting off some awesomeness. 
    </p>
  </div>
  <ul class="small-block-grid-7 text-center b-ws-top m-ws-top-p">
    <li><i class="icon-android f-3x scolor2"></i>
    <h4 class="f-l scolor">Android Developer</h4></li>
    <li><i class="icon-apple f-3x scolor2"></i>
    <h4 class="f-l scolor">iOS Developer</h4></li>
    <li><i class="icon-html f-3x scolor2"></i>
    <h4 class="f-l scolor">Front end Developer</h4></li>
    <li><i class="icon-code f-3x scolor2"></i>
    <h4 class="f-l scolor">Fullstack/ Backend Developer</h4></li>
    <li><i class="icon-writer f-3x scolor2"></i>
    <h4 class="f-l scolor">Content Writer</h4></li>
    <li><i class="icon-startups-business f-3x scolor2"></i>
    <h4 class="f-l scolor">Business Development</h4></li>
    <li><i class="icon-graphic f-3x scolor2"></i>
    <h4 class="f-l scolor">Graphic Designer</h4></li>
  </ul>
  <div class="small-12 columns text-center">
  <div class="b-ws-top xs-ws-bottom f-1-5x scolor f-l">Write to us at</div>
  <div class=" f-3x f-l b-ws-bottom"><a href="mailto:hello@frankly.me">hello@frankly.me</a></div>
  </div>
  <!-- <div class="small-5 columns small-centered m-ws-top">
    <h4 class="f-l scolor s-ws-top text-center">Get in touch</h4>
    <form data-abide>
      <div class="row">
        <div class="large-12 columns email-field">
          <label>Name
            <input type="text" required />
          </label>
          <small class="error">Name is required</small>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns password-field">
          <label>Email
            <input type="email" required  />
          </label>
          <small class="error">Email is required and must be a valid format</small>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns email-field">
          <label>Phone
            <input type="tel" required />
          </label>
          <small class="error">Phone</small>
        </div>
      </div>
      <div class="button fullwidth s-ws-top">Contact me</div>
    </form>
  </div> -->
</div>
	


</body>
