<!-- including channel banner  -->
<%- include(partials.banner) %>
<div class="row">
	<!-- left pane -->
	<%- include(partials.leftPane) %>

	<!-- right pane -->
	<%- include(partials.rightPane) %>

  <!-- trending questions -->
  <%- include(partials.trendingQuestionsWidget) %>
</div>