<div class="section">

	<div class="row">

		<div class="col s12">
			<%- include(partials.searchwrap) %>
		</div>

	</div>

	<div class="row catDetailsDiv">

		<div class="col s6">
			<%- include(partials.allcategory) %>
		</div>


		<div class="col s6 catAudio"> </div>


	</div>

</div>