<div class="reveal-modal small np" data-reveal id="answerVideoModal">
</div>

<div class="reveal-modal small np" data-reveal id="askQuestionModal">
</div>

<div class="reveal-modal <%= pagename === 'askPopup' ? 'small' : 'tiny' %> np" data-reveal id="authModal">
</div>

<div class="reveal-modal small np" data-reveal id="profileVideoModal">
</div>

<div class="reveal-modal large" data-reveal id="embedModal" style="position: relative;">
</div>

