<table class="hoverable hoverable quest_table card no-bg">
  <thead>
    <tr>
        <th style="width:23%;" data-field="id">Comment from</th>
        <th style="width:10%;" data-field="id">Comment On</th>
        <th style="width:9%;" data-field="id">Post_Link</th>
        <th style="width:40%;" data-field="text">Comment</th>
        <th style="width:9%;" data-field="name">Approve</th>
        <th style="width:9%;" data-field="price">Delete</th>
    </tr>
  </thead>

  <%- include(partials.commentsTable) %>
</table>